body {
  margin: 0;
}
/* Estilos para navegación */
.navbarScroll {
  background-color: rgba(130, 25, 244, 0.9); /* Color con opacidad */
}

/* Estilo para enlaces y su estado */
.nav-link {
    color: white;
    transition: color 0.3s; /* Transición suave del color */
}

.nav-link:hover {
  color: yellow; /* Cambio de color al pasar el mouse */
}

.background-image {
    background: url;  
    background-size: cover;
    position: relative;
    width: 30rem;
    height: 25rem;
}

/* imagen de fondo hero como imagen no estaba pongo otra y cambio ruta */

.bgimage {
    height: 100vh;
    background: url; 
    background-size: cover;
    position: relative;
}

/* css de texto encima de la imagen hero */

.hero_title {
    font-size: 5rem;
}

.hero_desc {
    font-size: 1.5rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(130, 25, 244); /* lo cambié de white*/
}

/* about section image css */

.imageAboutPage {
    width: 50%;
    border-radius: 45px;
    position: static;
    left: 50%;
}
.about {
  text-align: justify;
}
 
.navbarScroll.navbarDark {
    background-color: rgb(130, 25, 244);
    height: 40px; 
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1p;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem; 
  }

/* social media icons styling */

.social-icons {
    font-size: 36px;
    cursor: pointer;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover {
    color: #2771d1;
}

.fab {
    color: #000000;
}

/* footer styling */

#footer {
    background-color: rgb(130, 25, 244);
    text-align: center;
    margin-top: 5rem;
}

/* spacing on all sections */

#about,
#skills,
#projects,
#contact { 
    margin-top: 10rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-bottom: 10rem;
}


#about  { 
color: rgb(130, 25, 244);
background-color: #f4cef1; 
text-align: justify; 
}

/* Sección de habilidades */
#skills {
  color: rgb(130, 25, 244);
  display: flex;
  flex-wrap: wrap; /* Permitir que el contenido se ajuste al tamaño de la pantalla */
  justify-content: space-between; /* Espaciado entre las columnas */
  margin-top: 10rem; 
}

#projects {
  color: rgb(130, 25, 244);
}
h1 {
  color:rgb(130, 25, 244); 
  margin-top: 30px; 
  margin-bottom: 20px; 
  font-size:50px;
  text-align:center; 
}

h3, h4, h5, form { 
  text-align:center; 
}

#contact {
    padding-bottom: 4rem;
}

/* Ajustes de margen y padding */
.listas {
  margin: 10px 0;
  padding: 10px;
}
article.listas{
  color: rgb(130, 25, 244);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

ul.listas{
  list-style-type: circle;
  list-style-position: inside;
}
    
table {
  font-family: arial, sans-serif;
  border: 3px solid black;
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto; 
}
        
 td, th {
  border: 1px solid black;
  width: 50%;
  text-align: left;
  padding: 8px;
 }
        
 th {
  height: 10%;
  border: 3px solid black
 }

 tr:nth-child(even) {
  background-color: #db86f7; /* Color para filas pares */
 }
       
 tr:nth-child(odd) {
  background-color: #94ebfb; /* Color para filas impares */
 }


 button.btn.btn-success.mt-3 {
  background-color: mediumpurple;
}

.card-text {
  text-align: justify;
  font-size: medium;
}

/* Responsive Design */
@media (max-width: 1080px) {
  /* Estilos para tablet horizontal */
}

@media (max-width: 768px) {
  /* Estilos para tablet vertical */
}

@media (max-width: 480px) {
  /* Estilos para móviles 1 */
}

@media (max-width: 375px) {
  /* Estilos para móviles 2 */
}

